/* General body style for somewhat responsiveness withoout m-queries */
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(61, 99, 112, 0.315);
    margin: 0;
    min-height: 100vh;
}

/* design for the buttons with some styling for UI-friendliness */
button {
    padding: 3%;
    margin: 3%;
    background-color: rgb(17, 78, 68);
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 10px 5px 15px darkslategray;
}

/* welcome text */
#welcomeTxt {
    color: rgb(17, 78, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
    width: 100%;
}

/* game info text for indexhtml and klingonhtml */
#gameInfo,
#klingonTransTxtBox {
    color: rgb(17, 78, 68);
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1%;
    z-index: 1;
}

/* for the button-divs -StartGame -KlingonTranslatePage */
#toTheGameBox,
#klingonTransBox {
    display: flex;
    position: relative;
    margin: auto;
}

/* Image for gameboard */
#gameImg {
    height: 400px;
    width: 100%;
    background-image: url(/assets/images/spockhero3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;


}