/* General body style for somewhat responsiveness withoout m-queries */
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(61, 99, 112, 0.315);
    margin: 0;
    min-height: 100vh;
}

/* design for the buttons with some styling for UI-friendliness */
button {
    padding: 3%;
    margin: 3%;
    background-color: rgb(17, 78, 68);
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 10px 5px 15px darkslategray;
}

/* welcome text */
#welcomeTxt {
    color: rgb(17, 78, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
    width: 100%;
}

/* game info text for indexhtml and klingonhtml */
#gameInfo,
#klingonTransTxtBox {
    color: rgb(17, 78, 68);
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1%;
    z-index: 1;
}

/* for the button-divs -StartGame -KlingonTranslatePage */
#toTheGameBox,
#klingonTransBox {
    display: flex;
    position: relative;
    margin: auto;
}

/* Image for gameboard at Game.html */
#gameImg {
    height: 400px;
    width: 100%;
    background-image: url(/assets/images/spockhero3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

/* Game.html styles */
#result,
#message {
    text-align: center;
}

/* Userscore and Computerscore */

#playerScore,
#computerScore {
    font-size: 18px;
    margin: 5px;
    color: coral;
}

/* Scoreboard */
#scoreboard {
    display: flex;
    border-radius: 8px;
    text-align: center;
    background-color: wheat;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 4px 8px slategrey;
}

/* */
#theRuleBox {
    display: flex;
    position: relative;
}

/* */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

/* Image for infopage index.html */
#ruleImg {
    background-image: url(/assets/images/RockTest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 400px;
}

/* Design for gameResultContainer */

#gameResultContainer {
    display: none;
    /* Hide by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    opacity: 0.9;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 80vw;
    max-height: 80vh;
    background-color: wheat;
} 

#choice {
    width: 100px;
    height: 100px;
    margin: 20px;
    color: green;
    background-color: darkslategrey;
    cursor: pointer;
    padding: 1%;
}

li {
    justify-content: center;
    display: flex;
    font-style: oblique;
    font-size: 25px;
}